.ProgressBar {
    margin-left: 10px;
    margin-right: 10px;
}

.listingCardImg {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.listingCardDesc {
    text-align: center;
}

.inlineForm {
    display: inline-block;
}